h1{
    text-align: center;
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    text-align: justify;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}